[package]
name = "w3f-pcs"
version = "0.0.1"
edition = "2021"
authors = ["Sergey Vasilyev <swasilyev@gmail.com>"]
license = "MIT/Apache-2.0"
description = "Collection of tools for augmenting polynomial commitment schemes"
keywords = ["cryptography", "pcs", "kzg"]

[dependencies]
ark-std = { version = "0.5", default-features = false }
ark-ff = { version = "0.5", default-features = false }
ark-ec = { version = "0.5", default-features = false }
ark-poly = { version = "0.5", default-features = false }
ark-serialize = { version = "0.5", default-features = false, features = ["derive"] }

rayon = { version = "1.0", optional = true }
merlin = { version = "3.0", default-features = false }

[dev-dependencies]
criterion = "0.5"
ark-bw6-761 = { version = "0.5", default-features = false }
ark-bls12-381 = { version = "0.5", default-features = false, features = ["curve"] }

[[bench]]
name = "primitives"
harness = false

[[bench]]
name = "multiexps"
harness = false

[[test]]
name = "plonk"
harness = true

[features]
default = []
asm = ["ark-ff/asm"]
std = ["ark-std/std", "ark-ff/std", "ark-ec/std", "ark-poly/std", "ark-serialize/std", "merlin/std"]
parallel = ["std", "rayon", "ark-std/parallel", "ark-ff/parallel", "ark-ec/parallel", "ark-poly/parallel"]
print-trace = ["ark-std/print-trace"]
